.image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  .swiperImg {
    max-width: none;
    height: 450px;
    object-fit: cover;
    transform: translate(-80px,-120px);
  }
  .show {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 0.8;
  }
}

.house_info {
  margin: 10px;
  padding: 12px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 8px;
  .tips {
    display: flex;
    align-items: center;
    span{
      font-size: 12px;
      color: #595959;
      font-weight: bold;
      background-color: #f7f7f7;
      padding: 3px 5px;
      letter-spacing: 1px;
      display: inline-block;
      margin-right: 5px;
      border-radius: 5px;
    }
  }
  .title {
    font-size: 19px;
    font-weight: bold;
    margin: 15px 0px;
  }
  .base_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .line {
      width: 1.5px;
      background-color: #f5f5f5;
    }
    .item {
      text-align: left;
      display: flex;
      flex-direction: column;
      letter-spacing: 1px;
      font-weight: bold;
      .detail {
        font-size: 18px;
        color: rgb(251, 132, 34);
        margin-bottom: 5px;
      }
      .type {
        color: #aaaaaa;
        font-size: 13px;
      }
    }
  }
  .details {
    margin: 20px 0px 0px;
    .item {
      label {
        font-weight: bold;
        color: #aaaaaa;
        font-size: 14px;
        margin-right: 10px;
      }
      span {
        font-size: 15px;
        font-weight: bold;
        color: #595959;
      }
    }
  }
  .consult {
    .item {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .name {
        label {
          font-weight: bold;
          color: #aaaaaa;
          font-size: 14px;
          margin-right: 10px;
        }
        span {
          font-size: 15px;
          font-weight: bold;
          color: #595959;
        }
      }
      .serve {
        label {
          color: #aaaaaa;
          font-size: 18px;
          
        }
        span {
          font-size: 15px;
          font-weight: bold;
          color: rgb(251, 132, 34);
          margin-right: 5px;
        }
      }
    }
  }
  .dynamic {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding: 15px 8px;
    background-color: #fffaf7;
    border-radius: 8px;
    align-items: center;
    span {
      font-size: 14px;
      font-weight: bold;
      color: #4f4e4e;
    }
    .btn {
      display: flex;
      align-items: center;
      color: #dd9c1a;
      font-size: 13px;
      border: 1px solid #eaac31;
      padding: 5px 10px;
      border-radius: 15px;
    }
  }
}
.a {
  color: #f8a515;
}

.recom_broker {
  margin: 10px;
  padding: 12px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 8px;
  .title {
    font-size: 17px;
    font-weight: bolder;
    margin: 0px 0px 10px;
  }
  .brokers {
    .broker {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      .avatar {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          background-color: #ffe3aa;
          border: none;
          border-radius: 50%;
        }
      }
      .info {
        margin: 0 10px;
        flex: 1;
        .base {
          display: flex;
          align-items: center;
          .name {
            font-size: 15px;
            font-weight: bold;
          }
          .depart {
            font-size: 12px;
            color: #aaaaaa;
            margin: 0px 10px;
          }
        }
        .advantage {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 5px 0px;
          span {
            font-size: 13px;
            letter-spacing: 0.5px;
          }
          .points {
            color: #e87800;
            font-weight: bold;
            margin-right: 2px;
          }
          .line {
            width: 1px;
            height: 13px;
            background-color: #878787;
            margin: 0px 5px;
          }
        }
        .tips {
          padding: 6px 0px;
          span {
            display:inline-block;
            font-size: 8px;
            border: 1px solid #e4e4e4f8;
            border-radius: 4px;
            padding: 2px 4px;
            margin: 0px 5px 2px 0px;
          }
        }
      }
      .contact {
        width: 25%;
        display: flex;
        align-items: center;
        .type {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .circle {
            padding: 8px;
            border-radius: 50%;
            background-color: #fff9ed;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

.contact_broker {
  padding: 0px 25px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .broker {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width:35px;
      height: 35px;
      background-color: #ffe3aa;
      border: none;
      border-radius: 50%;
    }
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
    }
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .cont_type {
    width: 70%;
    display: flex;
    justify-content: space-between;
    div {
      padding: 12px 30px;
      color: #ffffff;
      border-radius: 20px;
      letter-spacing: 1px;
      font-weight: bold;
    }
    .online {
      background-color: #ff9422;
    }
    .phone {
      background-color: #f65515;
    }
  }
}