.content {
  margin: 10px;
  height: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}

.content .list {
  --border-top: none;
  --border-bottom: none;
}

.content .list .grid {
  background-color: #f8f8f8;
}

.content .list .grid .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.content .list .grid .body .image {
  width: 100%;
  height: 140px;
  background-color: #f8f8f8;
}

.content .list .grid .body .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.content .list .grid .body .details {
  padding: 10px 6px;
  text-align: left;
  overflow: hidden;
}

.content .list .grid .body .details .title {
  width: 100%;
}

.content .list .grid .body .details .title span {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
}

.content .list .grid .body .details .detail {
  padding: 6px 0px;
}

.content .list .grid .body .details .detail span {
  display: inline-block;
  font-size: 8px;
  border: 1px solid #e4e4e4f8;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0px 5px 2px 0px;
}

.content .list .grid .body .details .bottom {
  font-size: 16px;
}

.content .list .grid .body .details .bottom .tip {
  font-size: 12px;
  margin-left: 4px;
  color: #a7a7a7;
}

.content .list .grid .body .details .bottom .price {
  font-weight: bold;
  color: #f12f2f;
}

.content .list .grid .body .details .bottom .unit {
  color: #f12f2f;
  font-size: 12px;
}

.content .scroll {
  margin-bottom: 57px;
}
