.content {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.content .body {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.content .body .item {
  font-size: 12px;
}

.content .body .item img {
  width: 30px;
  height: 30px;
}

.content .body .item p {
  margin: 0px;
  color: #707070;
}

.content .body .item .p_active {
  color: #edc651;
}
