:root {
    box-sizing: border-box;
}

.input-area {
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0;
}

.input-area input {
    flex-grow: 1;
    flex-shrink: 0.9;
}

.input-area button {
    flex-grow: 1;
    flex-shrink: 0;
}
